.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;

  border-radius: 0;
  background-color: var(--mat-sys-surface-container-low);
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: inherit;

  outline: 1px solid var(--mat-sys-surface-container);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;

  outline: 1px solid var(--mat-sys-surface-container);
  background-color: var(--mat-sys-surface-container-low);
}
