<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Ativar barra de navegação lateral"
          class="me-2"
          matIconButton
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Ícone ativar barra de navegação lateral">menu</mat-icon>
        </button>
      }

      <span class="d-flex align-items-center gap-2">
        <mat-icon>collections_notebook</mat-icon>
        <span class="fs-4">NoteKeeper</span>
      </span>
    </mat-toolbar>
    <mat-nav-list>
      @for (item of itensNavbar; track $index) {
        <a mat-list-item [routerLink]="item.link">
          <mat-icon matListItemIcon>{{ item.icone }}</mat-icon>
          {{ item.titulo }}
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Ativar barra de navegação lateral"
          class="me-2"
          matIconButton
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Ícone ativar barra de navegação lateral">menu</mat-icon>
        </button>

        <span class="d-flex align-items-center gap-2">
          <mat-icon>collections_notebook</mat-icon>
          <span class="fs-4">NoteKeeper</span>
        </span>
      }
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container-fluid py-3">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
